<h1>Create a student entry</h1>

<form action="/Students" method="post">
 <div class="">
   <label for="studentName">Student Name:</label>
   <input type="text" name="studentName" required>
 </div>
 <div class="">
   <label for="enrollmentDate">Enrollment Date:</label>
   <input type="text" name="enrollmentDate" required>
 </div>
 <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/Students">List of Students</a></h3>
<h3><a href="/Courses">List of Courses</a></h3>
<h3><a href="/Courses/new">Create a Course</a></h3>
